body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    background-image: linear-gradient(to right, #2E0259, #B90FDD, #F50572, #B90FDD) ;
    padding: 20px;
    color: #fff;
    transition: 3s;
  }
  
nav{
  transition: .10s;
}

  .logo {
    font-size: 24px;
  }
  
  .navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navigation li {
    margin-right: 20px;
  }
  
  .navigation li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    max-width: 960px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  section h2 {
    color: #333;
  }
  
  .filter {
    margin-bottom: 20px;
  }
  
  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    transition: 3s;
  }
  
  footer {
    background-color: #2E0259;
    padding: 20px;
    color: #fff;
  }